body {
    background-color: #0c5eda;
  }

  .main {
    max-width: 720px;
    padding: 18px 20px;
  }
  
  @media (min-width: 576px) {
    .main {
      padding: 36px 42px;
    }
  }
  
  .content h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0 24px;
  }